<div class= "container">
<h1>Questions#ask</h1>
<p>Find me in app/views/questions/ask.html.erb</p>
<!-- action = file method -->
<form action="answer">
  <input type="text" name="question">
  <input type="submit" class="btn btn-info" value="Ask!">
</form>
</div>


