// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: gray; // Using this variable
}


.box-question, .box-answer {
  border-left: 2px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.box-question {
  background-color: #DDDBF1;
}
.box-answer {
  background-color: #AB9F9D;
}


.banner {
  background: red;
  h1 {
    font-size: 50px;
  }
}

a {
  color: grey;
  &:hover {
    color: black;
  }
}
